<!DOCTYPE html>
<html>
	<head>
    	<title>Windmill Townhomes</title>
    	<link type="text/css" rel="stylesheet" href="/css/main.css" />
    	<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    	<script type="text/javascript" src="/js/main.js"></script>
    	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  	</head>
  	<body>
  		<header class="shadow">
	  		<a href="/"><img src="/images/logo.jpeg" /></a>
  			<ul id="tabs">
  				<li><a href="/floor-plans">Floor Plans</a></li>
  				<li><a href="/pre-lease">Pre-Lease</a></li>
  				<li><a href="/location">Location</a></li>
  				<li><a href="/pay-rent">Pay Rent</a></li>
  				<li><a href="/maintenance">Maintenance</a></li>
  				<li><a href="/contact">Contact</a></li>
  			</ul>		
  		</header>
  		<img class="bg" src="{{ bg.small }}" />
  		<img class="bg" src="{{ bg.large }}" />
  		<section class="main">
  			{% block content %}{% endblock %}
  		</section>
  		<footer>
  			<ul>
  				<li>&#169; Copyright 2013</li>  				
  			</ul>
  		</footer>
  	</body>
</html>